.page-header
  %h1 Sources

%p
  Something about sources...

%p
  = link_to 'Add a new source', new_source_path, class: 'btn btn-primary'

%table.table.table-striped.margin-top
  %tr
    %th Source
    %th

  - @sources.each do |source|
    %tr
      %td= source.name
      %td
        = link_to 'Edit', edit_source_path(source)
        &middot;
        = link_to 'Delete', source, data: { confirm: 'Are you sure?' }, :method => :delete
