-# Partial to display form validation error messages.
-# Use inside forms like this:
-#
-# = form_for @user do |f|
-#   = render '/shared/error_messages', target: @user
-#
-# See http://asciicasts.com/episodes/211-validations-in-rails-3

- if target.errors.any?
  .alert.alert-error
    %button{class: 'close', 'data-dismiss' => 'alert'} &times;
    %h3 Please correct the following error(s) and try again:
    %ul
      - target.errors.full_messages.each do |msg|
        %li= msg
